<label class="checkbox">
	<input type="checkbox" class="checkbox__input"
  {% if checkbox.checked %} checked=""{% endif %}>
  <div class="checkbox__icon"></div>
	<div class="checkbox__text">{{checkbox.text}}</div>
</label>
